.input{
    width: 250px;
    height: 30px;
    margin: 5px 0px;
}
.submit{
    height: 30px;
    margin: 5px 0px;
    width: 100px;
}

.app-body{
    text-align: center;
}
.error{
    margin: 0;
    font-size: 12px;
    color: red;
}