
.header{
    display: flex;
    align-items: center;
}

.header h1{
    text-align: left;
    width: 50%;
}
.header .logout{
    text-align: right;
    margin-right: 20px;
    width: 50%;
}
.list table{
    text-align: center;
    width: 70%;
    border:1px solid;
}



.input{
    width: 250px;
    height: 30px;
    margin: 5px 0px;
}
.submit{
    height: 30px;
    margin: 5px 0px;
    width: 100px;
}

.contact-wrapper{
    display: flex;
    width: 100%;
    justify-content: center
}

.contact-form{
    width: 30%;
    text-align: center
}
.contact-list{
    width: 70%;
}

.no-contacts{
    height: 90%; 
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}